 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(14, 19, 30);
  
}

.header {
  display: flex;
  background-color: #1b2838;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 90px;
}

.header__logo {
  font-size: 45px;
}

.fa-brands {
  color: white;
}

.header__menu {
  display: flex;
  gap: 50px;
  cursor: pointer;
  color: white;
}

.header__menu :hover {
  color: #0094ff;
  border-bottom: 3px solid #0094ff;
}

.header__notification {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__icon-wrapper {
  display: flex;
  gap: 50px;
  color: white;
  font-size: 20px;
}

.header__icon--blue-bg {
  background-color: #0094ff;
  border-radius: 50%;
  padding: 10px;
}

.header__icon {
  display: flex;
  width: 42px;
  height: 42px;
  cursor: pointer;
  padding: 12px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.header__icon--hover :hover {
  background-color: #0094ff;
  border-radius: 50%;
  padding: 10px;
  transition: 0.3s;
}

.header__user {
  font-size: 45px;
  cursor: pointer;
}

.header__user :hover {
  border: 3px solid #0094ff;
  border-radius: 50%;
  transition: 0.01s;
} 



/* @media (max-width:550px) {
 
  .header__menu {
    display: none;
  }

   .header__icon-wrapper {
    
    justify-content: flex-end;
    right: 50px;
  } 
} */


/*----------------------------- */

.hero {
  background-image: url(img/banner-1.png);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content { 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%; 
  padding: 40px 0;
  width: 1200px;
}

.hero__image {
  width: 250px;
}

.hero__text {
  max-width: 450px;
  font-size: 25px;
  color: white;
}

.hero__button {
  display: flex;
  background-color: #0094ff;
  padding: 20px;
  color: white;
  width: 250px;
  justify-content: center;
  font-size: 15px;
  border-radius: 5%;
  cursor: pointer;
  border: none;
}

/* .......................... */

.navigation__menu {
  background-color: rgb(14, 19, 30);
}

.image__select {
  display: flex;
  justify-content: center;
  gap: 40px;
  /* margin-bottom: 100px; */
}

.image__select input{
  margin-top: 40px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* ....................... */

.filtre__menu {
  max-width: 1200px;
  margin: auto ;
}

.menu__nav {
  background-color: #1b2838;
  margin-top: 90px;
  border-radius: 4px;
  padding: 24px 40px;
}

.options__menu {
  display: flex;
  justify-content: space-between;
  color: white;
}

.options__menu p {
  cursor: pointer;
}

.options__menu :hover {
  color: #0094ff;
  border-bottom: 3px solid #0094ff;
}

/* ......................... */

 .search__input {
  position: absolute;
  /* display: flex; */
  margin-top: 35px;
}

.search__input input{
  background-color: #1b2838;
  width: 1200px;
  padding: 15px 45px;
  border: none;
  border-radius: 4%;
  
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.search__input ::placeholder {
  font-size: 20px;
}

.fa-magnifying-glass  {
  position: absolute;
  display: flex;
  font-size: 25px;    
  color: #0094ff; 
  cursor: pointer;

  top: 15px;   
  left: 1150px;
  
  
} 






/* .search__input {
  margin-top: 30px;
  position: relative;
  width: 1200px; 
}

.search__input input {
  width: 100%;
  padding: 10px 35px 10px 10px; 
  box-sizing: border-box;
}

.search__input i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888; 
  pointer-events: none; 
} */


















/* .search__input {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #1b2838;
  width: 700px;
  }
  
  .search__input input {
    background-color: #1b2838;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    border: none;
    }
    
    .search__input ::placeholder {
      font-size: 20px;
      } 
      
      
      .fa-magnifying-glass  {
        position: absolute;
        font-size: 25px;
        top: 30%;
        right: 10px;
        color: #0094ff; 
        cursor: pointer;
        } */

        
        /* 

.card__game {
  display: flex;

  
}

.card__img {
  width: 50%;
  height: 50%;
  
}*/